---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/Header.astro';
import Hero from '~/components/Hero.astro';
import TrustStrip from '~/components/TrustStrip.astro';
import ServicesSplit from '~/components/ServicesSplit.astro';
import Commercial from '~/components/Commercial.astro';
import Showcase from '~/components/Showcase.astro';
import Domestic from '~/components/Domestic.astro';
import Process from '~/components/Process.astro';
import Testimonials from '~/components/Testimonials.astro';
import Areas from '~/components/Areas.astro';
import Quote from '~/components/Quote.astro';
import Footer from '~/components/Footer.astro';
---
<Layout>
  <Header />
  <main id="main">
    <Hero />
    <TrustStrip />
    <ServicesSplit />
    <Commercial />
    <Showcase />
    <Domestic />
    <Process />
    <Testimonials />
    <Areas />
    <Quote />
  </main>
  <Footer />
</Layout>
